body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column; /* stack elements vertically */
  gap: 8px; /* small space between input and button */
  background-image: url(images/unnamed.jpg);
  background-image: url('/static/images/unnamed.jpg');
  background-repeat: no-repeat;     /* prevent tiling */
  background-size: cover;           /* make it fill the entire screen */
  background-position: center;      /* keep it centered */


}

#chatbox {
  width: 450px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  flex-direction: column; /* stack elements vertically */
  gap: 8px; /* small space between input and button */

}

#messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

input {
  width: 75%;
  padding: 8px;
}

button {
  width: 20%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;

  
}

button:hover {
  background: #0056b3;
}


